.pricing__content {

  @include media(large) {
    width: 90%;
    margin: auto;
  }
}

.pricing__title {
  font-size: 28px;
  color: rgba(0,0,0,0.8);
  margin-bottom: 10px;
}

.pricing__description {
  display: block;
  font-size: 18px;
  line-height: 135%;
  color: rgba(0,0,0,0.54);
}

.pricing__tag {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @include media(large) {
    margin-left: 50px;
  }
}

.pricing__tag:first-child {
  margin-top: 20px;

  @include media(large) {
    margin-top: 0;
  }
}

.pricing__tag-circle {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: $primary-color;
  border-width: 1px;
  border-style: solid;
  border-color: $primary-color;
  border-radius: 50%;
}

.pricing__tag-description {
  display: block;
  margin-left: 10px;
  font-size: 18px;
  line-height: 135%;
  color: $black;
}
