footer {
  height: auto;
  background: $white;
  padding-top: 15px;
  padding-bottom: 15px;


  @include media(large) {
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer__text {
  color: $grey;
  margin-top: 2px;
  margin-bottom: 2px;

  @include media(large) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
